{% extends "base.html" %}
{% block css %}
{{ block.super }}
<link href="https://transloadit.edgly.net/releases/uppy/v1.7.0/uppy.min.css" rel="stylesheet">
{% endblock css %}

{% block content %}

<div id="drag-drop-area"></div>

<form id="emptyForm" action="/" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">submit</button>
</form>

<textarea id="chat-log" cols="100" rows="20"></textarea><br/>
<input id="chat-message-input" type="text" size="100"/><br/>
<input id="chat-message-submit" type="button" value="Send"/>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="https://transloadit.edgly.net/releases/uppy/v1.7.0/uppy.min.js"></script>
<script>
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Channels    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
    
    var roomName = "{{ room_name|escapejs }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };


/* ajax stuff */
$("#emptyForm").submit(function (event) {
    event.preventDefault();
    var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data.foo); // show response from the php script.
           }
    });
});


var uppy = Uppy.Core()
uppy.use(Uppy.Dashboard, {
        inline: true,
        target: '#drag-drop-area'
});

// uppy.use(Uppy.Transloadit, {
//         service: 'https://api2.transloadit.com',
//         params: null,
//         waitForEncoding: false,
//         waitForMetadata: false,
//         importFromUploadURLs: false,
//         alwaysRunAssembly: false,
//         signature: null,
//         fields: {},
//         limit: 0
// });

uppy.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful)
})
</script>
{% endblock javascript %}
